footer.content-info{
    background-color: $black;
    color: $grey;
    padding: 20px 0;
    text-align: center;

    a{
        color: $green;
        font-weight: 100;
        opacity: .5;
        transition: .3s;

        &:hover{
            opacity: 1;
        }
    }
}