.banner .nav li {
  //@extend .nav-item;
}

.banner .nav a {
  //@extend .nav-link;
}

//MENU STYLING

#sideMenu{
  background-color: $white;
  position: fixed;
  height: 100%;
  width: 400px;
  overflow: auto;
  right: 0;
  z-index: 99;
  padding: 20px;
  transform: translateX(100%);
  transition: .5s;

  &.active{
      transform: translateX(0);
  }

  header{
      text-align: right;
      margin-bottom: 50px;

      a.button{
        color: $black;
        margin-right: 0;
      }
  }

  .nav{
      text-align: right;
      .apos-buttons a{
          font-size: 1em;
      }
    &>li{
          margin-bottom: 50px;
          padding: 0 20px 0 20px;
          display: inline-block;
          &.current{
              & > a{
                  border-bottom: 2px solid $green;
              }
          }
          a{
              display: inline-block;
              font-size: 30px;
              font-weight: 600;
              color: $black;
              transition: .2s;
              &:hover{
                  color: $green;
              }
          }
          &:hover{
              display: block;
          }
          ul{
            li{
                list-style: none;

              a{
                  color: $grey;
                  font-size: 20px;
                  font-weight: 400;
                  margin-top: 10px;
              }
            }
          }
      }
  }
}