
.nav{
    justify-content: flex-end;
}
//hide the image titles
.apos-slideshow h4 { display: none; }

//Fixing a parallax problem
.parallax-mirror.landing{
    z-index: 1!important;
}

body{
    font-family: 'Graphik', sans-serif;
    background-color: $white;
    

    header#mainheader{
        background-color: $white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        z-index: 98;
        -webkit-box-shadow: $transgrey 0px 0 10px;
        -moz-box-shadow: $transgrey 0 0 10px;
        box-shadow: $transgrey 0 0 10px;
        //transition: .2s;
        &.dark{
            background-color: $black;
            color: $white;
            .logo a{
                color: $white;
            }
            .rightSide{
                a{
                    color: $white;
                }
                #share{
                    a{
                        color: $white;
                    }
                }
                .hamburger{
                    color: $white;
                }
            }
        }
        .logo{
            float: left;
            letter-spacing: .03em;
            font-size: 1.2em;
            padding: 10px 0;
            a{
                color: $black;
                vertical-align: middle;
            }
            img{
                display: none;
                width: 30px;
                vertical-align: middle;
                margin-right: 20px;
            }
        }
        .rightSide{
            float: right;
            &.active{
                .shareButton:after{
                    width: 100%;
                }
                #share{
                    width: 15em;
                }
            }
            a{
                display: none;
                color: $black;
            }
            #share{
                display: inline-block;
                width: 0;
                height: .8em;
                overflow: hidden;
                transition: .5s;
                white-space: nowrap;
                a{
                    display: inline-block;
                    color: $black;
                    padding-right: 20px;
                    font-weight: 600;
                    &:hover{
                        color: $green;
                    }
                }
            }
            .hamburger{
                display: inline-block;
                margin-left: 20px;
                font-size: 2em;
                vertical-align: middle;
                cursor: pointer;
                transition: .5s;
                &:hover{
                    color: $green;
                }
            }
        }
    }
    footer#mainfooter{
        background-color: $black;
        padding: 50px 0;
        text-align: center;
        color: #777;
        font-size: .8em;
        a{
            color: #777;
            &:hover{
                color: $green;
            }
        }
    }
    .wrap {
        width: 100%;
        padding: 0 20px;
    }
    strong{
        font-weight: 600;
    }
    a{
        text-decoration: none;
    }
    a.button{
        display: inline-block;
        border: 2px solid $green;
        padding: 10px 15px;
        margin-right: 20px;
        margin-bottom: 20px;
        text-decoration: none;
        color: $black;
        position: relative;
        z-index: 1;
        cursor: pointer;
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: $green;
            z-index: -1;
            transition: .3s;
        }
        &:hover:after,
        &.active:after{
            width: 100%;
        }
    }
    .iframeWrap{
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        position: relative;
        margin: 50px 0;
        iframe{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    .parallaxParent {
        overflow: hidden;
        & > .parallaxBg  {
            height: 200%;
            position: relative;
            top: -100%;
        }
	}
}

//News / Blog
.news{
    .blog-header{
        background: $black;
        padding: 50px 0;
        color: $white;
        text-align: center;

        h2{
            margin-bottom: 0;
        }
    }

    article{
        @extend .col-4;
        margin: 50px 0;

        &:first-of-type{
            @extend .col-12;
            @extend .row;

            .thumbnail{
                @extend .col-6;
            }

            .text-content{
                @extend .col-6;

                h4{
                    margin-top: 0;
                }

                p{
                    display: block;
                }
            }
        }

        .thumbnail{
            img{
                width: 100%;
                height: auto;
            }
        }

        .text-content{
            h4{
                margin: 20px 0 0;
            }
            .time{
                margin-bottom: 1em;
            }
            p{
                display: none;
            }
        }
    }
}



.dark{
    background-color: $black;
    color: $white;
}

.home{
    .main-content{
        padding-top: 0;

         //HOME
    #progressBar{
        position: fixed;
        top: 0;
        left: 0;
        width: 0%;
        height: 5px;
        z-index: 10;
        background-color: $green;
    }
    #intro{
        height: 100vh;
        background-color: $black;
        color: $white;
        .wrap{
            @extend .centered;
            p{
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 50px;
            }
            a.button{
                color: $white;
                margin: 0 10px 20px;
            }
        }
        .more{
            position: absolute;
            bottom: 50px;
            left: 50%;
            text-align: center;
            transform: translateX(-50%);
            a{
                color: $white;
            }
            &:hover{
                .arrow{
                    transform: translateY(20px);
                }
            }
            .arrow{
                margin-top: 20px;
                transition: .2s;
            }
        }
    }
    #months{
        background-color: $white;
        .wrap{
            text-align: center;
        }
        .animation{
            display: none;
        }
    }
    #definition{
        background-color: $black;
        color: $white;
        padding: 100px 0 200px;
        margin: 0;
        h2{
            font-weight: 600;
        }
        .col-6{
            padding: 0 20px;
        }
    }
    #examples{
        padding: 0;
        transform: translateY(-200px);
        margin-bottom: -200px;
        opacity: 0;
        .title{
            padding: 20px;
            h3{
                margin-bottom: 0;
            }
            a{
                color: $white;
                &:hover{
                    color: $green;
                }
            }
        }

        .slickNav{
            div{
                &:first-child{
                    text-align: right;
                }
                a{
                    display: inline-block;
                    padding: 0 10px;
                    cursor: pointer;
                    transition: .3s;
                    &.inactive{
                        opacity: 0;
                    }
                }
            }
            .next{
                &:hover{
                    padding-left: 30px;
                }
                img{
                    transform: rotate(-90deg);
                }
            }
            .prev{
                &:hover{
                    padding-right: 30px;
                }
                img{
                    transform: rotate(90deg);
                }
            }
        }

        .device{
            padding: 20px;

            .wrap{
                height: auto;
            overflow: hidden;
            background-color: $lightgrey;
            /* border-radius */
            @include border-radius(10px);
            /* box-shadow */
            -webkit-box-shadow: $transgrey 0px 0 10px;
            -moz-box-shadow: $transgrey 0 0 10px;
            box-shadow: $transgrey 0 0 10px;

                img{
                    width: 100%;
                }
    
                .content{
                    padding: 20px;
                    h4{
                        font-weight: 600;
                    }
                }
            }
        }
    }
    #oneinten{
        background-color: $white;
        text-align: center;
        font-size: 30px;
        height: 300vh;
        padding: 33.33% 0;
        overflow: hidden;
        .whiteBlur{
            @include gradient-y($start-color: rgba($white,1), $end-color: rgba($white,0), $start-percent: 0%, $end-percent: 100%);
            position: absolute;
            top: 0;
            width: 100%;
            height: 300px;
        }
        .firstline{
            font-size: 2em;
            line-height: 1.5em;
            div{
                display: inline-block;
            }
            .one{
                color: $green;
            }
            .ten{
                color: $blue;
            }
        }
        .partOne,
        .partTwo{
            transform: translateY(-50%);
            width: 100%;
            line-height: 1.3em;
            font-size: .9em;
            font-weight: 600;
            left: 0;
            padding: 0 20px;
        }
        .partTwo{
            display: none;
        }
        .secondline{
            opacity: 0;
        }
        &.static{
            .wrap{
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .partOne,
                .partTwo{
                    position: absolute;
                    .secondline{
                        animation-name: fadeIn;
                        animation-duration: .5s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }
    #story{
        padding: 100px 0;
        color: $white;
        position: relative;
        z-index: 1;
        text-align: center;
        & > .wrap{
            z-index: 2;
            .quote{
                font-size: 23px;
                margin-bottom: 20px;
            }

            .byline{
                margin-bottom: 50px;
            }
        }
        .launch{
            display: inline-block;
            cursor: pointer;
            transition: .2s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .storyPlayer{
            display: none;
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,.8);
            width: 100%;
            height: 100%;
            overflow: auto;
            .player-wrap{
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .close{
                    color: $white;
                    position: absolute;
                    top: -70px;
                    right: 0px;
                    margin: 0;
                    cursor: pointer;
                }
            }
        }
        .backgroundVideo{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            overflow: hidden;
            opacity: .6;
            z-index: -1;
            video{
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    #update{
        background-color: $black;
        background-image:none!important;
        color: $white;
    }
    #questions{
        background-color: $white;
    }
    #act{
        padding: 0;
        margin: 0;
        .action{
            padding: 0;
            text-align: center;
            background-color: $black;
            h4{
                font-size: 30px;
                padding: 0 30px;
            }
            .action-inner{
                height: 300px;
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                color: $white;
                a.button{
                    color: $white;
                    margin-top: 20px;
                }
                .content{
                    position: absolute;
                    width: 100%;
                    bottom: 50%;
                    transform: translateY(50%);
                }
            }
        }
    }
    #about{
        background-color: $black;
        color: $white;
        height: auto;
        text-align: center;
        h3{
            color: $white;
        }
    }
    }
}


.main-content {
    font-family: 'Graphik-Regular', sans-serif;
    padding-top: 80px;
    min-height: 100vh;

    //Flexible Content
    .flexible-content{
        margin-top: 50px;

        .video{
            margin: 50px 0;
        }
    
        .title{
            margin-bottom: 50px;
        }
    }

    //Pages

    .banner{
        min-height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &.hasbanner{
        h1{
            display: inline-block;
            background-color: $green;
            max-width: 600px;
            margin-top: -2em;
            padding: .5em;
            color: $black;
        }
        section:first-of-type{
            padding-top: 0;
        }
    }
    
    section{
        padding: 50px 0;
        position: relative;
    }

   

    // ACT

    #actIntro{
        padding-bottom: 0;
    }
    #actContent{
        padding-top: 20px;
        padding-bottom: 0;
        .content-block{
            margin-bottom: 20px;
            .inner{
                background: $lightgrey;
                padding: 50px 20px;
                header{
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    font-size: 1.5em;
                    border-bottom: 2px solid black;
                }
                
                .text{
                    margin-bottom: 20px;
                }

                a.button{
                    margin-bottom: 0;
                }
            }
        }
    }
    #video{
        padding-top: 0;
    }

    //Resources
    #pageMenu{
        background-color: $black;
        color: $white;
        a{
            display: block;
            color: $white;
            line-height: 2em;
            &:hover{
                color: $green;
            }
        }
    }
    .mediaBox{
        background-color: $lightgrey;
        margin-bottom: 20px;
        .image{
            padding: 0;
        }
        .content{
            padding: 20px!important;
            a.button{
                float: left;
            }
        }
    }
    #organizations{
        .wrap{
            text-align: left;
            div[data-apos-area-edit]{
                column-count: 1;
            }
            & > div{
                column-count: 2;
                column-gap: 20px;
            }
            a{
                display: block;
                padding: 0 10% 50px;
                img{
                    width: 100%;
                }
                &:hover{
                    color: $green;    
                } 
            }
        }
    }

    //About
    &.about{
        .apos-area-widget{
            margin: 50px 0;
        }
        #pageContent{
            @extend .dark;
        }
    }

    //NEWS
    #blog{
        padding-top: 150px;
        .apos-blog-filters{
            display: none;
        }
        .apos-blog-post-preview{
            margin-bottom: 50px;
            .image{
                padding-right: 20px!important;
                img{
                    width: 100%;
                }
            }
            .content{
                h6{
                    color: $grey;
                    font-size: .8em;
                    margin-bottom: 20px;
                }
                a.button{
                    margin-top: 20px;
                }
            }
        }
    }
    &.blogpost{
        footer{
            text-align: center;
            padding: 50px 0;
        }
    }
}
.steps{
    .step{
        margin-bottom: 50px;
        .number{
            &:before{
                content: '';
                width: 30px;
                height: 5px;
                background-color: $green;
                display: block;
                margin-top: .5em;
            }
        }
        h4{
            font-size: 1.5em;
        }
    }
    &.numbered{
        .step .number{
            &:before{
                height: 0;
                margin-top: 0;
            }
            span{
                display: inline-block;
                padding: 20px 25px;
                margin-right: 20px;
                background-color: $green;
            }
        }
    }
}


@keyframes fadeIn {
    0%   {opacity: 0;}
    100%   {opacity: 1;}
}
@keyframes growing {
    0%   {width: 0%;}
    100%   {width: 100%;}
}


@media (min-width: 1080px){
    .main-content {
        #story{
            
        }
    
        #organizations{
            .wrap{
                & > div{
                    column-count: 3;
                    column-gap: 20px;
                }
            }
        }
    }
}

@media (min-width: 768px){
    body{

        h1{
            font-size: 2em;
            padding: 1em 0;
            line-height: 1.5em;
            margin-bottom: 1em;
        }
        h2{
            font-size: 3em;
        }
        h3{
            font-size: 30px;
            margin-bottom: 20px;
            color: $green;
            line-height: 1.5em;
        }
        h4{
            font-size: 20px;
            line-height: 1.5em;
        }
        p{
            line-height: 1.5em;
            margin-bottom: 1em;
            a{
                color: $green;
            }
        }
    
        .wrap {
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            padding: 0;
        }
    
        header#mainheader{
            .logo{
                a{
                    &:hover{
                        color: $green;
                    }
                }
            }
            .rightSide{
                a{
                    display: inline-block;
                    margin-bottom: 0;
                    font-weight: 600;
                    &:not(.button){
                        margin-right: 10px;
                        &:hover{
                            color: $green;
                        }
        
                    }
                }
            }
        }
    }
    
    .main-content {
    
        section{
            padding: 50px 0;
        }

        .banner{
            min-height: 500px;
        }
    
        .mediaBox {
            .content{
                padding: 50px!important;
            }
        }
        .deviceDrawer{
            .content{
                .text{
                    padding: 0 0 0 20px!important;
                }
            }
        }
    
        // ACT
        #actContent{
            padding-top: 50px;
            .col-6{
                padding: 0 10px;
            }
            .content-block{
                .inner{
                    padding: 50px;
                }
            }
        }
    
        // RESOURCES
        #organizations{
            .wrap{
                & > div {
                    column-count: 3;
                }
                img{
                    max-width: 300px;
                }
                a{
                    padding: 0 25% 50px;
                }
            }
        }
    
    }

    .home{
        .main-content{
            #intro{
                .wrap{
                    p{
                        font-size: 30px;
                    }
                }
            }
            
            #months{
                height: 70vh;
                min-height: 800px;
                .wrap{
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    padding: 0 20px;
                    top: 33%;
                    h2{
                        font-size: 2em;
                    }
                }
                .animation{
                    display: block;
                    position: absolute;
                    width: 100%;
                    bottom: 200px;
                    transform: translateY(50%);
                    .graph{
                        position: absolute;
                        left: 0;
                        bottom: 45px;
                        width: 100%;
                        stroke-dasharray: 2000;
                        stroke-dashoffset: 2000;
                    }
                    &.launched{
                        .bar{
                            animation-name: growing;
                            animation-duration: 2s;
                            animation-fill-mode: forwards;
                        }
                        .graph{
                            animation: dash 2s linear forwards;
                        }
                        .month{
                            animation-name: fadeIn;
                            animation-duration: .5s;
                            animation-fill-mode: forwards;
                            &:nth-of-type(2){
                                animation-delay: .5s;
                            }
                            &:nth-of-type(3){
                                animation-delay: 1s;
                            }
                            &:nth-of-type(4){
                                animation-delay: 1.5s;
                            }
                        }
                    }
                    .bar{
                        height: 5px;
                        background: $black;
                        position: absolute;
                        width: 0%;
                        left: 0;
                        top: 26px;
                    }
                    .month{
                        float: left;
                        width: 25%;
                        text-align: center;
                        position: relative;
                        z-index: 2;
                        opacity: 0;
                        &:before{
                            content: '';
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            background-color: $green;
                            display: block;
                            margin: 20px auto;
                        }
                    }
                }
            }
            #definition{
                padding: 200px 0 300px;
                background-image: url('../images/definition_bg.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 100% 50%;
                .col-6{
                    padding: 0 50px;
                }
            }
            #examples{
                .title{
                    padding: 0;
                    padding-left: 50px;
                    height: 0;
                }
                .device{
                    margin-top: 20px;
                }
            }
            #oneinten{
                .firstline{
                    font-size: 4em;
                }
            }
            #story{
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
    
                & > .wrap{
                    .quote{
                        font-size: 30px;
                    }
                }
                .storyPlayer{
                    .player-wrap{
                        max-width: 900px;
                    }
                }
            }
            #update{
                padding: 200px 0;
                color: $white;
                background-color: transparent;
                z-index: 1;
    
                .wrap{
                    justify-content: flex-end;
                }
    
            }
            #act{
                .action{
                    h4{
                        font-size: 30px;
                        padding: 30px;
                    }
                    .action-inner{
                        height: 80vh;
                        .content{
                            bottom: 50px;
                            transform: translateY(0);
                        }
                    }
                }
            }
            #about{
                padding: 200px 0;
            }
        }
    }
    
    @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      }
}

//Device Drawers
.deviceDrawer{
    margin-bottom: 20px;
    background-color: $lightgrey;

    &:not(.active){
        .content{
            display: none;
        }

        .title{
            background-color: $lightgrey;

            &:hover{
                background-color: $green;
            }
        }
    }

    .title{
        padding: 20px;
        background-color: $green;
        cursor: pointer;
        position: relative;

        i{
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
    .content{
        padding: 20px;

        img{
            width: 100%;
        }

        .text{
            padding: 20px 0!important;
        }
    }
}