
.single{
    .main-content.hasbanner{
        h1{
            position: relative;
            background-color: transparent;
            font-size: 30px;
            display: block;
            padding: 0;
            font-weight: 400;
            margin-bottom: 20px;
        }
    }
    .container{
        padding: 50px 0;

        header{
            margin: 100px auto 50px;
        }

        .featured-img{
            margin: 50px 0;
        }
        
    }
    footer{
        text-align: center;
        margin-top: 50px;
    }
}