
//Mixins
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centerContent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.main-content{
      position: relative;
  }


// Typography

h1, h2, h3, h4, h5, h6{
    strong{
        color: $green;
    }
}

h1{
    font-size: 1.5em;
    padding: 1em 0;
    line-height: 1.5em;
    margin-bottom: 1em;
    font-weight: 600;
    p{
        margin-bottom: 0;
    }
}
h2{
    font-size: 30px;
    margin-bottom: 1em;
    line-height: 1.2em;
}
h3{
    font-size: 30px;
    margin-bottom: 30px 0 20px;
    color: $green;
    line-height: 1.5em;
}
h4{
    font-size: 20px;
    line-height: 1.5em;
}
p{
    line-height: 1.5em;
    margin-bottom: 1em;
    a{
        color: $green;
    }
}
em{
    font-style: italic;
}

a{
    &:hover{
        text-decoration: none;
    }
}

//Responsive iFrames
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Drawers
.drawer{
  &:not(.active){
      .content{
          display: none;
      }
  }
  .title{
      font-size: 1.1em;
      font-weight: 600;
      line-height: 1.4em;
      padding: 20px 50px 20px 20px;
      position: relative;
      border-radius: 10px;
      cursor: pointer;
      &:hover{
          background-color: $lightgrey;
      }
      i{
          position: absolute;
          right: 20px;
          top: 20px;
      }
  }
  .content{
      padding: 20px;
  }
}