/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Graphik-Regular.woff') format('woff'), url('../fonts/Graphik-Regular.ttf')  format('truetype'), url('../fonts/Graphik-Regular.svg#Graphik-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Graphik-Medium.woff') format('woff'), url('../fonts/Graphik-Medium.ttf')  format('truetype'), url('../fonts/Graphik-Medium.svg#Graphik-Regular') format('svg');
  font-weight: 600;
  font-style: normal;
}

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$black:     #000;
$white:     #fff;
$green:     #40D764;
$blue:      #38C8E8;
$grey:      #4A4A4A;
$lightgrey: #F5F5F5;
$transgrey: rgba(0,0,0,.3);

// Grid Settings
$gutterWidth:   0px;